@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-image:  url("https://images.unsplash.com/photo-1516466723877-e4ec1d736c8a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;    
}